# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [27]:
import pandas as pd
import numpy as np

lista_ano = list(range(1900,2040,20))
lista_anomalia_termica = [-0.08,-0.27,0.12,-0.03,0.26,0.40,1.02]
series_temp = pd.Series(lista_anomalia_termica)
print(f'Serie de Temperaturas: \n{lista_anomalia_termica}\n')
print(f'Lista de anos: \n{series_temp}')

Serie de Temperaturas:
[-0.08, -0.27, 0.12, -0.03, 0.26, 0.4, 1.02]

Lista de anos:
0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [29]:
series_temp.index = lista_ano
print(f'Pandas Series com anos e temperaturas: \n{series_temp}')

Pandas Series com anos e temperaturas:
1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [33]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

series_temps = pd.Series(dic_temperaturas)
print(series_temp)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [36]:
arr = np.random.normal(100, 10, (20,3))
print(arr)

df = pd.DataFrame(arr)
df

[[ 98.90246192 110.50303913 111.74296656]
 [ 91.64908564  95.04980466 106.98019596]
 [110.86075127  95.49842685 106.12885225]
 [ 78.42023503 107.7875166  114.47304745]
 [ 99.02141403  99.10088762 113.64065002]
 [107.54932845 101.62613096  91.91751442]
 [101.44726455  81.03944942  94.87261058]
 [ 89.95310054  97.92609797  95.24554764]
 [105.78898537 104.28479411 101.12902908]
 [109.4856149  103.18037576  89.04439454]
 [104.29892972  98.39757944 111.16947826]
 [111.7443955  108.63344583  99.65701365]
 [ 93.40157894 113.51819938  95.26349992]
 [100.61397445  93.77717731 100.45497645]
 [104.9648253   97.32697264  75.60837534]
 [112.37564475  88.54190506 105.99638574]
 [111.46724898 109.99125536  87.27843849]
 [ 89.58006687  94.72370236  88.48469983]
 [106.95560249 103.90289648 114.32698811]
 [ 89.92825206 104.4434147  102.02222506]]

             0           1           2
0    98.902462  110.503039  111.742967
1    91.649086   95.049805  106.980196
2   110.860751   95.498427  106.128852
3    78.420235  107.787517  114.473047
4    99.021414   99.100888  113.640650
5   107.549328  101.626131   91.917514
6   101.447265   81.039449   94.872611
7    89.953101   97.926098   95.245548
8   105.788985  104.284794  101.129029
9   109.485615  103.180376   89.044395
10  104.298930   98.397579  111.169478
11  111.744396  108.633446   99.657014
12   93.401579  113.518199   95.263500
13  100.613974   93.777177  100.454976
14  104.964825   97.326973   75.608375
15  112.375645   88.541905  105.996386
16  111.467249  109.991255   87.278438
17   89.580067   94.723702   88.484700
18  106.955602  103.902896  114.326988
19   89.928252  104.443415  102.022225

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [42]:
indices = list(range(1,21,1))
colunas = ['x1','x2','x3']

df.columns = colunas
df.index = indices
df

            x1          x2          x3
1    98.902462  110.503039  111.742967
2    91.649086   95.049805  106.980196
3   110.860751   95.498427  106.128852
4    78.420235  107.787517  114.473047
5    99.021414   99.100888  113.640650
6   107.549328  101.626131   91.917514
7   101.447265   81.039449   94.872611
8    89.953101   97.926098   95.245548
9   105.788985  104.284794  101.129029
10  109.485615  103.180376   89.044395
11  104.298930   98.397579  111.169478
12  111.744396  108.633446   99.657014
13   93.401579  113.518199   95.263500
14  100.613974   93.777177  100.454976
15  104.964825   97.326973   75.608375
16  112.375645   88.541905  105.996386
17  111.467249  109.991255   87.278438
18   89.580067   94.723702   88.484700
19  106.955602  103.902896  114.326988
20   89.928252  104.443415  102.022225

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [54]:
media = (df.x1 + df.x2 + df.x3)/3
df.insert(3, 'media',media)
df

            x1          x2          x3       media
1    98.902462  110.503039  111.742967  107.049489
2    91.649086   95.049805  106.980196   97.893029
3   110.860751   95.498427  106.128852  104.162677
4    78.420235  107.787517  114.473047  100.226933
5    99.021414   99.100888  113.640650  103.920984
6   107.549328  101.626131   91.917514  100.364325
7   101.447265   81.039449   94.872611   92.453108
8    89.953101   97.926098   95.245548   94.374915
9   105.788985  104.284794  101.129029  103.734270
10  109.485615  103.180376   89.044395  100.570128
11  104.298930   98.397579  111.169478  104.621996
12  111.744396  108.633446   99.657014  106.678285
13   93.401579  113.518199   95.263500  100.727759
14  100.613974   93.777177  100.454976   98.282043
15  104.964825   97.326973   75.608375   92.633391
16  112.375645   88.541905  105.996386  102.304645
17  111.467249  109.991255   87.278438  102.912314
18   89.580067   94.723702   88.484700   90.929490
19  106.955602  103.902896  114.326988  108.395162
20   89.928252  104.443415  102.022225   98.797964

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [59]:
df.insert(4,'log_med',np.log(df.media))
df

            x1          x2          x3       media   log_med
1    98.902462  110.503039  111.742967  107.049489  4.673291
2    91.649086   95.049805  106.980196   97.893029  4.583875
3   110.860751   95.498427  106.128852  104.162677  4.645954
4    78.420235  107.787517  114.473047  100.226933  4.607437
5    99.021414   99.100888  113.640650  103.920984  4.643631
6   107.549328  101.626131   91.917514  100.364325  4.608807
7   101.447265   81.039449   94.872611   92.453108  4.526702
8    89.953101   97.926098   95.245548   94.374915  4.547275
9   105.788985  104.284794  101.129029  103.734270  4.641833
10  109.485615  103.180376   89.044395  100.570128  4.610855
11  104.298930   98.397579  111.169478  104.621996  4.650354
12  111.744396  108.633446   99.657014  106.678285  4.669818
13   93.401579  113.518199   95.263500  100.727759  4.612421
14  100.613974   93.777177  100.454976   98.282043  4.587841
15  104.964825   97.326973   75.608375   92.633391  4.528650
16  112.375645   88.541905  105.996386  102.304645  4.627955
17  111.467249  109.991255   87.278438  102.912314  4.633877
18   89.580067   94.723702   88.484700   90.929490  4.510084
19  106.955602  103.902896  114.326988  108.395162  4.685783
20   89.928252  104.443415  102.022225   98.797964  4.593077